# Dependencias (NUNCA se suben a GitHub)
node_modules/
backend/node_modules/
frontend/node_modules/

# Configuración sensible (Contraseñas de SQL)
.env
backend/.env

# Archivos subidos por los usuarios
backend/uploads/*
!backend/uploads/.gitkeep

# Logs y temporales
npm-debug.log*
.DS_Store
dist/

# Editores
.vscode/
.idea/

#NOTA
#Cambiar la ip de la ruta frontend->src->js->tickets.js
#frotend->src->js->main.js
#cambiar la IP local por la actual o la del servidor